.main-chat
  .main-chat__group-info
    .main-chat__group-info__contents
      .main-chat__group-info__contents__group-name
        Test
        .main-chat__group-info__contents__group-name__member-list
          Member:apple
      .main-chat__group-info__contents__edit-btn
        = link_to "#", class: "main-chat__group-info__contents__edit-btn--icon" do
          Edit
  .messages
    = render @messages
  .main-chat__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'